In [6]:
from selenium import webdriver
import pandas as pd
import time

In [2]:
def get_k_hadv(home_goals, away_goals, home_team_rating, away_team_rating, home_team_rating_change):
    list_k = [20, 30, 40, 50, 60]
    
    home_result = 1.0 if home_goals > away_goals else 0.5 if  home_goals == away_goals else 0.0
    goal_difference = abs(home_goals - away_goals)
    if goal_difference < 2:
        k_modifier = 1
    elif goal_difference == 2:
        k_modifier = 1.5
    elif goal_difference == 3:
        k_modifier = 1.75
    else:
        k_modifier = 7/4 + (goal_difference - 3)/8
    
    for ki in list_k:
        expected_home_result_nohadv = 1 / (1 + 10**((-home_team_rating + away_team_rating) / 400))
        htrc_nohadv = round((home_result - expected_home_result_nohadv) * ki * k_modifier)
        
        expected_home_result_hadv = 1 / (1 + 10**((-home_team_rating + away_team_rating - 100) / 400))
        htrc_hadv = round((home_result - expected_home_result_hadv) * ki * k_modifier)
        
        if home_team_rating_change == htrc_nohadv:
            k = ki
            hadv = 0
            break
        elif home_team_rating_change == htrc_hadv:
            k = ki
            hadv = 100
            break
        elif ki == 60:
            k = -1
            hadv = -1
            
    return k, hadv

In [23]:
def get_df_row_list(row_list):
    beg = time.time()
    t0 = 0
    
    df_row_list = []
    for i, row in enumerate(row_list):
        t = time.time() - beg
        if t - t0 > 10:
            t0 = t
            print("Time {:.2f}, row {}".format(t, i), flush=True)
        
        date = row.find_element_by_xpath('.//div[1]').text.replace("\n", " ")
        tournament = row.find_element_by_xpath('.//div[4]').text.replace("\n", " ")
        teams = row.find_element_by_xpath('.//div[2]').text
        home_team = teams.split("\n")[0]
        away_team = teams.split("\n")[1]
        rating_changes = row.find_element_by_xpath('.//div[5]').text.replace("−", "-")
        home_team_rating_change = int(rating_changes.split("\n")[0])
        away_team_rating_change = int(rating_changes.split("\n")[1])
        ratings = row.find_element_by_xpath('.//div[6]').text
        home_team_new_rating = int(ratings.split("\n")[0])
        away_team_new_rating = int(ratings.split("\n")[1])
        home_team_rating = home_team_new_rating - home_team_rating_change
        away_team_rating = away_team_new_rating - away_team_rating_change
        rank_changes = row.find_element_by_xpath('.//div[7]').text.replace("−", "-")
        try:
            home_team_rank_change = int(rank_changes.split("\n")[0])
            away_team_rank_change = int(rank_changes.split("\n")[1])
        except:
            home_team_rank_change = 0
            away_team_rank_change = 0
        ranks = row.find_element_by_xpath('.//div[8]').text
        home_team_new_rank = int(ranks.split("\n")[0])
        away_team_new_rank = int(ranks.split("\n")[1])
        home_team_rank = home_team_new_rank - home_team_rank_change
        away_team_rank = away_team_new_rank - away_team_rank_change
        result = row.find_element_by_xpath('.//div[3]').text
        home_goals = int(result.split("\n")[0])
        away_goals = int(result.split("\n")[1])

        (k, hadv) = get_k_hadv(home_goals, away_goals, home_team_rating, away_team_rating, home_team_rating_change)
        rdiff = home_team_rating - away_team_rating + hadv
        
        df_row = [date, tournament, home_team, away_team, home_team_rating, away_team_rating, home_goals, away_goals, 
                  home_team_rating_change, away_team_rating_change, home_team_new_rating, away_team_new_rating, 
                  home_team_rank, away_team_rank, home_team_rank_change, away_team_rank_change, 
                  home_team_new_rank, away_team_new_rank, k, hadv, rdiff]
        df_row_list.append(df_row)
    return df_row_list

In [4]:
columns = ['date', 'tournament', 'home_team', 'away_team', 'home_team_rating', 'away_team_rating', 'home_goals', 'away_goals', 
           'home_team_rating_change', 'away_team_rating_change', 'home_team_new_rating', 'away_team_new_rating', 
           'home_team_rank', 'away_team_rank', 'home_team_rank_change', 'away_team_rank_change', 
           'home_team_new_rank', 'away_team_new_rank', 'k', 'hadv','rdiff']

In [25]:
list_years = list(reversed(range(1990,2010)))
for year in list_years:
    url = "https://www.eloratings.net/"+str(year)+"_results"
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    print("----- Year {} ----".format(year), flush=True)
    row_list = driver.find_elements_by_xpath('//*[@id="maintable_'+str(year)+'_results"]/div[5]/div/div')
    df_row_list = get_df_row_list(row_list)
    driver.close()
    df = pd.DataFrame(df_row_list, columns=columns)
    df.to_csv('games_'+str(year)+'.csv')

----- Year 2009 ----
Time 10.03, row 49
Time 20.19, row 101
Time 30.49, row 150
Time 40.51, row 195
Time 50.55, row 235
Time 60.58, row 271
Time 70.72, row 304
Time 80.80, row 337
Time 90.89, row 382
Time 101.10, row 427
Time 111.17, row 470
Time 121.41, row 513
Time 131.61, row 555
Time 141.75, row 596
Time 151.87, row 636
Time 162.11, row 676
Time 172.11, row 714
Time 182.23, row 752
Time 192.25, row 789
Time 202.43, row 826
Time 212.49, row 862
Time 222.70, row 898
----- Year 2008 ----
Time 10.13, row 52
Time 20.20, row 103
Time 30.24, row 153
Time 40.29, row 202
Time 50.35, row 249
Time 60.51, row 295
Time 70.71, row 340
Time 80.93, row 383
Time 91.19, row 422
Time 101.27, row 459
Time 111.28, row 496
Time 121.43, row 532
Time 131.48, row 567
Time 141.50, row 602
Time 151.72, row 637
Time 161.83, row 671
Time 171.86, row 704
Time 182.02, row 737
Time 192.33, row 770
Time 202.47, row 802
Time 212.75, row 829
Time 223.00, row 860
Time 233.11, row 890
Time 243.43, row 920
Time 253.61, row 950
Time 263.87, row 980
Time 273.90, row 1009
Time 284.14, row 1038
Time 294.46, row 1067
Time 304.49, row 1095
----- Year 2007 ----
Time 10.01, row 47
Time 20.23, row 91
Time 30.31, row 133
Time 40.56, row 172
Time 50.62, row 207
Time 60.93, row 240
Time 70.99, row 271
Time 81.24, row 301
Time 91.35, row 330
Time 101.54, row 359
Time 111.83, row 388
Time 121.95, row 417
Time 132.00, row 446
Time 142.13, row 475
Time 152.45, row 506
Time 162.63, row 536
Time 172.92, row 566
Time 183.21, row 596
Time 193.28, row 625
Time 203.34, row 654
Time 213.53, row 681
Time 223.63, row 704
Time 233.74, row 733
Time 243.74, row 766
Time 253.88, row 799
Time 263.93, row 831
Time 274.09, row 863
Time 284.14, row 894
Time 294.21, row 925
Time 304.45, row 956
----- Year 2006 ----
Time 10.15, row 49
Time 20.20, row 97
Time 30.23, row 144
Time 40.34, row 190
Time 50.38, row 234
Time 60.54, row 278
Time 70.77, row 321
Time 80.78, row 362
Time 90.78, row 402
Time 101.04, row 442
Time 111.27, row 481
Time 121.52, row 519
Time 131.73, row 557
Time 141.92, row 594
Time 152.06, row 630
Time 162.06, row 665
Time 172.35, row 700
Time 182.54, row 733
Time 192.61, row 766
Time 202.75, row 799
Time 213.00, row 832
----- Year 2005 ----
Time 10.09, row 51
Time 20.26, row 101
Time 30.31, row 149
Time 40.33, row 196
Time 50.44, row 242
Time 60.51, row 286
Time 70.55, row 329
Time 80.65, row 371
Time 90.79, row 412
Time 100.97, row 453
Time 111.08, row 492
Time 121.10, row 530
Time 131.29, row 568
Time 141.35, row 605
Time 151.55, row 642
Time 161.71, row 678
Time 171.89, row 713
Time 181.96, row 747
Time 192.13, row 780
----- Year 2004 ----
Time 10.14, row 47
Time 20.28, row 94
Time 30.49, row 140
Time 40.71, row 185
Time 50.72, row 228
Time 60.77, row 270
Time 70.92, row 311
Time 81.02, row 351
Time 91.06, row 390
Time 101.10, row 428
Time 111.25, row 466
Time 121.40, row 503
Time 131.65, row 540
Time 141.84, row 576
Time 151.96, row 611
Time 162.26, row 646
Time 172.35, row 680
Time 182.36, row 713
Time 192.52, row 746
Time 202.77, row 779
Time 212.90, row 811
Time 223.17, row 843
Time 233.31, row 874
Time 243.46, row 905
Time 253.59, row 936
Time 263.72, row 966
Time 274.05, row 996
Time 284.34, row 1026
Time 294.44, row 1055
Time 304.66, row 1084
----- Year 2003 ----
Time 10.05, row 48
Time 20.13, row 92
Time 30.26, row 135
Time 40.31, row 174
Time 50.44, row 210
Time 60.63, row 244
Time 70.66, row 277
Time 80.91, row 310
Time 91.06, row 342
Time 101.26, row 375
Time 111.36, row 407
Time 121.71, row 438
Time 131.79, row 469
Time 142.12, row 500
Time 152.31, row 529
Time 162.52, row 563
Time 172.64, row 599
Time 182.85, row 635
Time 192.99, row 670
Time 203.02, row 704
Time 213.25, row 738
Time 223.28, row 771
Time 233.52, row 804
Time 243.83, row 837
Time 253.91, row 869
Time 264.13, row 901
----- Year 2002 ----
Time 10.19, row 51
Time 20.20, row 99
Time 30.40, row 147
Time 40.44, row 193
Time 50.55, row 238
Time 60.60, row 281
Time 70.76, row 324
Time 80.93, row 366
Time 90.94, row 406
Time 100.95, row 446
Time 110.99, row 485
Time 121.24, row 524
Time 131.38, row 562
Time 141.47, row 599
Time 151.59, row 635
Time 161.84, row 671
Time 172.07, row 706
Time 182.33, row 741
Time 192.38, row 774
----- Year 2001 ----
Time 10.14, row 48
Time 20.21, row 95
Time 30.44, row 142
Time 40.61, row 187
Time 50.61, row 230
Time 60.73, row 270
Time 70.88, row 311
Time 81.07, row 352
Time 91.13, row 392
Time 101.24, row 431
Time 111.32, row 469
Time 121.48, row 507
Time 131.65, row 544
Time 141.77, row 580
Time 151.81, row 615
Time 162.00, row 650
Time 172.11, row 684
Time 182.18, row 717
Time 192.22, row 750
Time 202.40, row 783
Time 212.66, row 816
Time 222.86, row 848
Time 233.10, row 880
Time 243.22, row 911
Time 253.42, row 942
Time 263.47, row 972
Time 273.57, row 1002
----- Year 2000 ----
Time 10.20, row 47
Time 20.43, row 94
Time 30.50, row 139
Time 40.57, row 183
Time 50.78, row 227
Time 60.96, row 269
Time 71.15, row 310
Time 81.21, row 350
Time 91.26, row 389
Time 101.43, row 428
Time 111.62, row 466
Time 121.88, row 504
Time 132.15, row 541
Time 142.35, row 577
Time 152.51, row 612
Time 162.54, row 646
Time 172.71, row 680
Time 182.80, row 713
Time 192.97, row 746
Time 203.00, row 778
Time 213.18, row 810
Time 223.25, row 841
Time 233.32, row 871
Time 243.65, row 902
Time 253.74, row 932
Time 263.92, row 962
Time 274.01, row 991
Time 284.06, row 1020
Time 294.12, row 1048
----- Year 1999 ----
Time 10.16, row 51
Time 20.31, row 100
Time 30.48, row 148
Time 40.50, row 194
Time 50.55, row 239
Time 60.70, row 283
Time 70.82, row 326
Time 80.87, row 367
Time 91.02, row 408
Time 101.13, row 448
Time 111.17, row 487
Time 121.42, row 526
Time 131.48, row 564
Time 141.59, row 601
Time 151.60, row 637
Time 161.81, row 666
Time 171.89, row 701
Time 182.09, row 736
Time 192.24, row 770
----- Year 1998 ----
Time 10.11, row 50
Time 20.25, row 95
Time 30.33, row 138
Time 40.46, row 177
Time 50.58, row 212
Time 60.86, row 245
Time 71.19, row 276
Time 81.26, row 304
Time 91.60, row 333
Time 101.86, row 360
Time 111.89, row 388
Time 121.91, row 416
Time 131.96, row 444
Time 142.11, row 473
Time 152.37, row 501
Time 162.51, row 530
Time 172.70, row 558
Time 182.96, row 587
Time 193.21, row 615
Time 203.25, row 643
Time 213.48, row 671
Time 223.80, row 699
Time 234.05, row 727
Time 244.12, row 754
----- Year 1997 ----
Time 10.11, row 49
Time 20.12, row 91
Time 30.13, row 137
Time 40.14, row 183
Time 50.15, row 228
Time 60.30, row 272
Time 70.47, row 315
Time 80.61, row 357
Time 90.69, row 398
Time 100.77, row 438
Time 111.02, row 478
Time 121.24, row 517
Time 131.40, row 555
Time 141.47, row 592
Time 151.73, row 629
Time 161.93, row 665
Time 171.98, row 700
Time 181.99, row 734
Time 192.10, row 768
Time 202.35, row 802
Time 212.41, row 835
Time 222.62, row 868
Time 232.65, row 900
----- Year 1996 ----
Time 10.19, row 49
Time 20.37, row 97
Time 30.50, row 144
Time 40.53, row 189
Time 50.71, row 233
Time 60.74, row 276
Time 70.83, row 318
Time 80.87, row 359
Time 90.89, row 399
Time 101.11, row 439
Time 111.35, row 478
Time 121.51, row 516
Time 131.61, row 553
Time 141.85, row 590
Time 151.99, row 626
Time 162.23, row 661
Time 172.38, row 682
Time 182.50, row 716
Time 192.72, row 750
Time 202.81, row 783
Time 213.03, row 816
Time 223.10, row 848
----- Year 1995 ----
Time 10.17, row 52
Time 20.27, row 102
Time 30.40, row 151
Time 40.51, row 198
Time 50.66, row 244
Time 60.85, row 289
Time 71.06, row 333
Time 81.26, row 376
Time 91.37, row 418
Time 101.63, row 459
Time 111.74, row 499
Time 121.76, row 538
Time 131.99, row 577
Time 142.26, row 615
Time 152.46, row 652
----- Year 1994 ----
Time 10.02, row 52
Time 20.13, row 103
Time 30.27, row 153
Time 40.32, row 201
Time 50.41, row 247
Time 60.42, row 292
Time 70.45, row 336
Time 80.47, row 379
Time 90.63, row 421
Time 100.67, row 462
Time 110.68, row 502
Time 120.85, row 542
Time 131.07, row 581
Time 141.16, row 619
----- Year 1993 ----
Time 10.05, row 49
Time 20.14, row 98
Time 30.24, row 146
Time 40.27, row 192
Time 50.35, row 237
Time 60.54, row 282
Time 70.69, row 325
Time 80.83, row 367
Time 90.91, row 408
Time 100.96, row 448
Time 111.19, row 488
Time 121.31, row 527

Time 131.40, row 565
Time 141.48, row 602
Time 151.71, row 639
Time 161.72, row 674
Time 171.75, row 709
Time 181.98, row 744
Time 192.03, row 778
----- Year 1992 ----
Time 10.13, row 53
Time 20.15, row 104
Time 30.31, row 154
Time 40.50, row 203
Time 50.58, row 250
Time 60.77, row 296
Time 70.97, row 341
Time 81.05, row 385
Time 91.25, row 423
Time 101.46, row 462
Time 111.69, row 497
Time 121.80, row 531
Time 132.71, row 549
Time 142.95, row 560
Time 153.18, row 602
----- Year 1991 ----
Time 10.11, row 57
Time 20.26, row 115
Time 30.32, row 169
Time 40.49, row 221
Time 50.72, row 271
Time 60.85, row 316
Time 70.91, row 356
Time 81.14, row 399
Time 91.17, row 440
----- Year 1990 ----
Time 10.00, row 53
Time 20.18, row 106
Time 30.31, row 160
Time 40.51, row 214
Time 50.65, row 265
Time 60.79, row 315
Time 70.80, row 362
Time 80.87, row 410
Time 90.99, row 457
Time 101.18, row 503

In [22]:
for i in range(694,714):
    row = row_list[i]
    teams = row.find_element_by_xpath('.//div[2]').text
    home_team = teams.split("\n")[0]
    away_team = teams.split("\n")[1]
    rank_changes = row.find_element_by_xpath('.//div[7]').text.replace("−", "-")
    print(repr(rank_changes), home_team, away_team)
    #home_team_rank_change = int(rank_changes.split("\n")[0])
    #away_team_rank_change = int(rank_changes.split("\n")[1])

'0\n-1' Cambodia Brunei
'-3\n+3' Laos Myanmar
'0\n0' Bangladesh Sri Lanka
'0\n0' Bangladesh Sri Lanka
'-\n-' Chagos Islands Somaliland
'+5\n-5' Kuwait North Korea
'+3\n-1' Philippines Nepal
'0\n+2' Bahrain North Korea
'-5\n+4' Kuwait Yemen
'+2\n-3' Qatar North Korea
'+3\n-1' Saudi Arabia Palestine
'+1\n0' United Arab Emirates Lebanon
'0\n-1' Bahrain Singapore
'0\n0' Oman Yemen
'+2\n-3' Thailand Philippines
'0\n-4' Uganda Ethiopia
'-6\n+3' Vietnam Palestine
'-1\n+2' Cuba French Guiana
'0\n0' Indonesia East Timor
'+1\n0' Trinidad and Tobago Curaçao